<div class="row">
  <div class="col-md-4">
    <img class="img-responsive center-block" src="{{user.avatar}}" style="width: 250px;margin-bottom: 25px;">
  </div>
  <div class="col-md-8">
    <h1>{{user.name}}</h1>
    <p>{{user.email}}</p>
    <p>{{count}} 已評論餐廳</p>
    <form action="/users/{{user.id}}/edit" method="GET">
      <input type="hidden" name="userId" value="{{user.id}}" />
      <button type="submit" class="btn btn-primary">Edit</button>
    </form>
  </div>
  <hr>
</div>

<div class="card mt-5">
  <h6 class="card-header">{{count}} 已評論餐廳</h6>
  <div class="card-body">
    {{#each comments}}
    <a href="/restaurants/{{this.restaurantId}}" style="display: inline-block;">
      <img src="{{this.restaurantImage}}" class="m-2" style="width: 3rem; height: 3rem;">
    </a>
    {{/each}}
  </div>
</div>

<br />
<br />